/* Imports */
@import 'normalize';
@import 'fonts';

/* Variables */
$main-color: #2b2a2c;
$sub-main-color: #6a696b;
$light-gray: #8d8d8e;
$white: #fff;

$main-font: 'Montserrat',
sans-serif;

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

/* Common */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: $main-font;
  font-size: 1.2rem;
  font-weight: 300;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Blocks */
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/about';
@import 'blocks/works';
@import 'blocks/footer';

@import 'blocks/logo';
@import 'blocks/btn';

@import 'media';