.about {
  position: relative;
  margin: 4rem 0;

  &-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: url("../img/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;

    &::after {
      display: block;
      background-color: rgba($main-color, 0.5);
      box-shadow: 0 0 1rem 0.1rem rgba($main-color, 0.75);
      content: "";
      width: 100%;
      height: 100%;
    }

    @media (max-width: $sm) {
      display: none;
    }
  }

  &-content {
    width: 50%;
    padding-left: 3rem;
    margin-left: auto;

    @media (max-width: $sm) {
      width: 100%;
      padding-left: 0;
    }

    &__title {
      color: $main-color;
      font-size: 4.5rem;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;

      @media (max-width: $lg) {
        font-size: 2.5rem;
      }

      @media (max-width: $xs) {
        font-size: 2rem;
      }
    }

    &__subtitle {
      color: rgba($main-color, 0.15);
      font-size: 9.2rem;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;

      @media (max-width: $lg) {
        font-size: 7.2rem;
      }

      @media (max-width: $md) {
        font-size: 5.8rem;
      }

      @media (max-width: $xs) {
        font-size: 5rem;
      }
    }

    &__text {
      color: $sub-main-color;
      line-height: (24 / 12);
      margin: 2rem 0 4rem 0;
    }
  }
}
