.contacts {
  position: relative;
  margin: 2rem 0 8rem 0;

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: url("../img/contacts-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::after {
      display: block;
      background-color: rgba($main-color, .5);
      box-shadow: 0 0 1rem 0.1rem rgba($main-color, .75);
      content: "";
      width: 100%;
      height: 100%;
    }

    @media (max-width: $sm) {
      display: none;
    }
  }

  &-inner {
    width: 50%;
    margin-left: auto;
    padding-left: 3rem;

    @media (max-width: $sm) {
      width: 100%;
      padding-left: 0;
    }
  }

  &__title {
    color: $main-color;
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }

  &__subtitle {
    color: $main-color;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 3rem 0;
  }

  &-list {
    padding: 0;
    margin: 0 0 4rem 0;

    &__item {
      list-style: none;
      margin-bottom: 1rem;
      :last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      color: $main-color;
      font-size: 1.4rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-form {
    &__label {
      display: block;
      color: $main-color;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    &__input,
    &__textarea {
      display: block;
      width: 100%;
      border-radius: 2.5rem;
      border: solid 1px rgba($light-gray, 0.3);
      color: $main-color;
      outline: none;
      margin-bottom: 2.5rem;
      transition: all 0.3s;

      &:focus {
        border-color: $main-color;
      }
    }

    &__input {
      height: 50px;
      padding: 0 2.5rem;
    }

    &__textarea {
      height: 200px;
      resize: none;
      padding: 2rem 2.5rem;
    }

    &__btn {
      margin-left: auto;
    }
  }
}
