.header {
  &-inner {
    position: relative;
    border-bottom: solid 1px rgba($sub-main-color, 0.3);
    padding-bottom: 5rem;
  }

  &-content {
    position: relative;
    padding: 7rem 0;

    &_active {
      padding: 17.2rem 0 7rem 0;
    }

    &__description {
      font-size: 3.2rem;
      font-weight: 200;
    }

    &__title {
      font-size: 4.5rem;
      font-weight: 700;
      margin: 1rem 0 3rem 0;
    }

    &__subtitle {
      display: block;
      font-size: 1.8rem;
      font-weight: 400;
      margin-top: 1rem;
    }
  }

  &-social {
    display: flex;
    padding: 0;
    margin: 0 0 4.5rem 0;

    &__item {
      list-style: none;

      margin-right: 1rem;
      :last-child {
        margin-right: 0;
      }
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #24292e;
      text-decoration: none;
      width: 40px;
      height: 40px;
      font-size: 2rem;
      color: $white;
      transition: all 0.3s;
      &:hover {
        background-color: $white;
        box-shadow: 0 0 0 4px #24292e;
        font-size: 2.4rem;
        color: #24292e;
        transform: scale(1.1);
      }

      &_linkedin {
        background-color: #007bb6;
        &:hover {
          box-shadow: 0 0 0 4px #007bb6;
          color: #007bb6;
        }
      }
    }
  }
}
